@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.msg {
  color: #3498db;
    font-size: 72px;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-weight: 700;
    position: relative;
    top: 35vh;
    left: auto;
    opacity:0;

    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:0.45s;
    -moz-animation-duration:0.45s;
    animation-duration:0.45s;
}
